.color-background-primary-text { color: var(--background-primary); background-color: var(--background-primary); }
.color-background-primary-bg { color: var(--text-normal); background-color: var(--background-primary) }
.color-background-primary-alt-text { color: var(--background-primary-alt); background-color: var(--background-primary); }
.color-background-primary-alt-bg { color: var(--text-normal); background-color: var(--background-primary-alt) }
.color-background-secondary-text { color: var(--background-secondary); background-color: var(--background-primary); }
.color-background-secondary-bg { color: var(--text-normal); background-color: var(--background-secondary) }
.color-background-secondary-alt-text { color: var(--background-secondary-alt); background-color: var(--background-primary); }
.color-background-secondary-alt-bg { color: var(--text-normal); background-color: var(--background-secondary-alt) }
.color-background-modifier-border-text { color: var(--background-modifier-border); background-color: var(--background-primary); }
.color-background-modifier-border-bg { color: var(--text-normal); background-color: var(--background-modifier-border) }
.color-background-modifier-form-field-text { color: var(--background-modifier-form-field); background-color: var(--background-primary); }
.color-background-modifier-form-field-bg { color: var(--text-normal); background-color: var(--background-modifier-form-field) }
.color-background-modifier-form-field-highlighted-text { color: var(--background-modifier-form-field-highlighted); background-color: var(--background-primary); }
.color-background-modifier-form-field-highlighted-bg { color: var(--text-normal); background-color: var(--background-modifier-form-field-highlighted) }
.color-background-modifier-box-shadow-text { color: var(--background-modifier-box-shadow); background-color: var(--background-primary); }
.color-background-modifier-box-shadow-bg { color: var(--text-normal); background-color: var(--background-modifier-box-shadow) }
.color-background-modifier-success-text { color: var(--background-modifier-success); background-color: var(--background-primary); }
.color-background-modifier-success-bg { color: var(--text-normal); background-color: var(--background-modifier-success) }
.color-background-modifier-error-text { color: var(--background-modifier-error); background-color: var(--background-primary); }
.color-background-modifier-error-bg { color: var(--text-normal); background-color: var(--background-modifier-error) }
.color-background-modifier-error-rgb-text { color: var(--background-modifier-error-rgb); background-color: var(--background-primary); }
.color-background-modifier-error-rgb-bg { color: var(--text-normal); background-color: var(--background-modifier-error-rgb) }
.color-background-modifier-error-hover-text { color: var(--background-modifier-error-hover); background-color: var(--background-primary); }
.color-background-modifier-error-hover-bg { color: var(--text-normal); background-color: var(--background-modifier-error-hover) }
.color-background-modifier-cover-text { color: var(--background-modifier-cover); background-color: var(--background-primary); }
.color-background-modifier-cover-bg { color: var(--text-normal); background-color: var(--background-modifier-cover) }
.color-text-accent-text { color: var(--text-accent); background-color: var(--background-primary); }
.color-text-accent-bg { color: var(--text-normal); background-color: var(--text-accent) }
.color-text-accent-hover-text { color: var(--text-accent-hover); background-color: var(--background-primary); }
.color-text-accent-hover-bg { color: var(--text-normal); background-color: var(--text-accent-hover) }
.color-text-normal-text { color: var(--text-normal); background-color: var(--background-primary); }
.color-text-normal-bg { color: var(--text-normal); background-color: var(--text-normal) }
.color-text-muted-text { color: var(--text-muted); background-color: var(--background-primary); }
.color-text-muted-bg { color: var(--text-normal); background-color: var(--text-muted) }
.color-text-muted-rgb-text { color: var(--text-muted-rgb); background-color: var(--background-primary); }
.color-text-muted-rgb-bg { color: var(--text-normal); background-color: var(--text-muted-rgb) }
.color-text-faint-text { color: var(--text-faint); background-color: var(--background-primary); }
.color-text-faint-bg { color: var(--text-normal); background-color: var(--text-faint) }
.color-text-error-text { color: var(--text-error); background-color: var(--background-primary); }
.color-text-error-bg { color: var(--text-normal); background-color: var(--text-error) }
.color-text-error-hover-text { color: var(--text-error-hover); background-color: var(--background-primary); }
.color-text-error-hover-bg { color: var(--text-normal); background-color: var(--text-error-hover) }
.color-text-highlight-bg-text { color: var(--text-highlight-bg); background-color: var(--background-primary); }
.color-text-highlight-bg-bg { color: var(--text-normal); background-color: var(--text-highlight-bg) }
.color-text-highlight-bg-active-text { color: var(--text-highlight-bg-active); background-color: var(--background-primary); }
.color-text-highlight-bg-active-bg { color: var(--text-normal); background-color: var(--text-highlight-bg-active) }
.color-text-selection-text { color: var(--text-selection); background-color: var(--background-primary); }
.color-text-selection-bg { color: var(--text-normal); background-color: var(--text-selection) }
.color-text-on-accent-text { color: var(--text-on-accent); background-color: var(--background-primary); }
.color-text-on-accent-bg { color: var(--text-normal); background-color: var(--text-on-accent) }
.color-interactive-normal-text { color: var(--interactive-normal); background-color: var(--background-primary); }
.color-interactive-normal-bg { color: var(--text-normal); background-color: var(--interactive-normal) }
.color-interactive-hover-text { color: var(--interactive-hover); background-color: var(--background-primary); }
.color-interactive-hover-bg { color: var(--text-normal); background-color: var(--interactive-hover) }
.color-interactive-accent-text { color: var(--interactive-accent); background-color: var(--background-primary); }
.color-interactive-accent-bg { color: var(--text-normal); background-color: var(--interactive-accent) }
.color-interactive-accent-rgb-text { color: var(--interactive-accent-rgb); background-color: var(--background-primary); }
.color-interactive-accent-rgb-bg { color: var(--text-normal); background-color: var(--interactive-accent-rgb) }
.color-interactive-accent-hover-text { color: var(--interactive-accent-hover); background-color: var(--background-primary); }
.color-interactive-accent-hover-bg { color: var(--text-normal); background-color: var(--interactive-accent-hover) }
.color-interactive-success-text { color: var(--interactive-success); background-color: var(--background-primary); }
.color-interactive-success-bg { color: var(--text-normal); background-color: var(--interactive-success) }
.color-scrollbar-active-thumb-bg-text { color: var(--scrollbar-active-thumb-bg); background-color: var(--background-primary); }
.color-scrollbar-active-thumb-bg-bg { color: var(--text-normal); background-color: var(--scrollbar-active-thumb-bg) }
.color-scrollbar-bg-text { color: var(--scrollbar-bg); background-color: var(--background-primary); }
.color-scrollbar-bg-bg { color: var(--text-normal); background-color: var(--scrollbar-bg) }
.color-scrollbar-thumb-bg-text { color: var(--scrollbar-thumb-bg); background-color: var(--background-primary); }
.color-scrollbar-thumb-bg-bg { color: var(--text-normal); background-color: var(--scrollbar-thumb-bg) }